<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tr_type %>
    <%= form.number_field :tr_type, id: :transaction_tr_type %>
  </div>

  <div class="field">
    <%= form.label :tr_date %>
    <%= form.date_select :tr_date, id: :transaction_tr_date %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor, id: :transaction_valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
