<p id="notice"><%= notice %></p>


<h4>Contas</h4>
    <table class="centered responsive-table highlight">
        <thead>
          <tr>
              <th>Ag</th>
              <th>Cc</th>
              <th>Limite</th>
          </tr>
        </thead>
        <tbody id ='accounts'>
         <% @accounts.each do |account|%>
          <tr>
            <td><%=account.agency.ag%></td>
            <td><%=account.cc%></td>
            <td><%=account.limit%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
            
<%= link_to 'New Account', new_account_path, remote: true %>

